/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

body {
    background-color: #fcfcfc;
    font-family: 'Roboto', monospace;
}

#page {
    background-color: white;
    margin: 0 15%;
    display: grid;
    padding: 50px 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.teacher-image {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fe918c;
}

.teacher-name {
    font-weight: bold;
    font-size: 16px;
}

.teacher-field {
    padding: 7px 0 3px 0;
    font-size: 12px;
    color: #9a9a9a;
}

.teacher-country {
    font-size: 7px;
}

.button {
    background-color: white;
    border: 1px solid #f99384;
    color: #f99384;
    font-family: 'Roboto', monospace;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid black;
    width: 50%;
    margin: 20px auto 25px auto;
}

.title-div p {
    font-weight: bold;
    font-size: 25px;
}

.container {
    padding: 10px 0 30px 0;
}

/* header */

#header-div img {
    float: left;
    width: 30%;
    height: auto;
}

#search-bar-div {
    float: right;
    font-family: 'Roboto', monospace;
}

#search-bar {
    height: 30px;
    width: 170px;
    margin: 0 10px;
}

#search-button {
    height: 30px;
    width: 70px;
    color: #f56153;
    font-weight: bold;
}

#search-bar::placeholder, #search-button {
    font-size: 11px;
}

/* navigation bar */

#navigation-div {
    margin: 30px 0 10px 0;
}

#navigation-div .nav-a, #footer-div a {
    float: left;
    padding: 10px 25px 0 0;
    text-decoration: none;
    color: #f56153;
    font-weight: bold;
}

#navigation-div button, #footer-div button, .href-add {
    float: right;
}

#add-teacher, #add-teacher-footer {
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    color: #f56153;
}

/* top teachers */

#top-teachers-div {
    display: grid;
}

#teacher-board, #favorites-board {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 20px 0;
}

#filter-div {
    padding: 25px 0 15px 0;
}

#filter-form {
    display: grid;
    grid-auto-flow: column;
    float: left;
}

#filter-form .single-filter {
    padding: 0 10px;
    border-right: dotted #9a9a9a;
}

#filter-form label, input {
    color: #9a9a9a;
    font-size: 12px;
    vertical-align: middle;
}

#filter-form select {
    height: 25px;
    border-color: #9a9a9a;
}

/* statistics */

table {
    width: 100%;
}

td {
    padding: 8px;
    text-align: center;
    font-size: 11px;
}

th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.table-name {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f7f5f8;
}

#table-button-div {
    float: left;
}

.table-button {
    background-color: white;
    border: none;
    color: #1e95cd;
    font-family: 'Roboto', monospace;
    font-size: 12px;
}

/* info */

#info {
    font-size: 12px;
    text-align: left;
    line-height: 15px;
}

/* footer */


#footer-div {
    margin: 30px 0 0 0;
}

/* popup */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    max-height: 80%;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup .close {
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    overflow: auto;
}

.window-text {
    font-size: 15px;
    font-family: 'Roboto', monospace;
    text-align: left;
}

.info-image {
    float: left;
    max-width: 30%;
    height: auto;
    padding: 20px 0 0 5px;
}

.info {
    float: left;
    text-align: left;
    padding: 20px 0 0 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.about-teacher {
    width: 95%;
    padding: 20px 20px 15px 5px;
    text-align: left;
    font-size: 10px;
}

.toggle-map {
    float: left;
    text-align: left;
    padding: 0 0 5px 5px;
    color: #2fa5af;
    font-size: 10px;
}

.full-name {
    font-size: 20px;
}

.field {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
}

.city-country, .age-sex,
.email, .phone {
    font-size: 10px;
    padding-top: 10px;
}

.email {
    text-decoration: none;
    color: #2fa5af;
}

/* add teacher popup */

.add-popup {
    margin: auto;
    padding: 20px;
    background: #fff;
    max-height: 100%;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.add-popup .close {
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

#add-teacher-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-label {
    font-size: 15px;
    font-family: 'Roboto', monospace;
    color: #9a9a9a;
    padding-top: 15px;
    padding-bottom: 7px;
    text-align: left;
}

.input-field {
    border: 1px solid #9a9a9a;
    width: 410px;
    height: 30px;
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#add-sex-div {
    position: relative;
    left: 5px;
    top: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
}

.short-input-field {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-popup-button {
    margin-top: 17px;
    height: 40px;
    width: 410px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #f56153;
    color: #f56153;
    font-family: 'Roboto', monospace;
}